@tailwind base;
@tailwind components;
@tailwind utilities;

.map {
    margin: 0 auto;
    height: 500px;
    border-radius: 0px;
    border: 10px rgb(255, 255, 255) solid;
    padding: 30px;
}

.link-map h2 {
    text-align: center;
    padding: 30px;
}
